*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: auto 350px 2fr 250px;
    grid-row: 20px 1fr;
    text-align: center;
    font-weight: bolder;
}

nav{
    grid-row: 1/3;
    background-color: rgb(179, 169, 169);
    padding: 20px;
}

menu{
    grid-column: 2/5;
    background-color: blue;
}

.but{
    display: flex;
    gap: 20px;
    padding: 20px 0 10px 0;
    margin-left: 20px;
}

button{
    border: none;
    background-color: rgba(240, 248, 255, 0.555);
    color: white;
    padding: 6px;
}

button:last-child{
    background-color: red;
    margin-left: auto;
    margin-right: 20px;
}

aside, section{
    background-color: rgb(201, 192, 192);
    padding-top: 10px;
}

section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


article{
    background-color: rgb(240, 243, 245);
   padding-top: 10px;
}

.c1{
    background-color: rgb(143, 136, 136);
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}